

.nav-link:hover{
    color : white !important;
    background-color: rgb(16,16,16);
    border-radius: 15px;
}

navbar-brand{
    font-weight: bold;
}

/* Right-aligned section inside the top navigation */
.nav-link {
    float: right;
  }
